<form action='{% url "products_list" %}' method="GET">
    <label for="sort">Сортировать по:</label>
    <select name="sort" id="sort">
        <option></option>
        <option value="name">Наименованию</option>
        <option value="price">Цене</option>
        <option value="quantity">Количеству</option>
    </select>
    <select name="by">
        <option value="">По возрастанию</option>
        <option value="-">По убыванию</option>
    </select>
    <button type="submit">Сортировать</button>
</form>
